{
    "printWidth": 250,
    "tabWidth": 4,
    "singleQuote": true,
    "semi": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "importOrder": ["^react", "^styled-component", "@fullcalendar/react", "<THIRD_PARTY_MODULES>", "^@hlibs", "^@src/(.*)$", "^@components/(.*)$", "^@assets/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
